/* your code here */
.media-icons{
	display:flex;
}
.top{
	display:flex;
	justify-content:space-between;

}
.link-boxes{
	display:flex;
	justify-content:space-between;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
}